.HistoryList {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  overflow-y: auto;
}

.HistoryCardContainer {
  display: flex;
  align-items: center;
  gap: 4rem;
  z-index: 0;
}

/* FOR HIGHLIGHT */
.HistoryCardContainer::before {
  content: '';
  position: absolute;
  inset: 0;
  border-radius: 16px;
  background: var(--color-highlight); /* background highlight color */
  opacity: 0; /* initially hidden */
  transition: opacity 1s ease-out; /* smooth fade-in animation */
  pointer-events: none; /* so it doesn’t block clicks */
  z-index: -1; /* behind the card */
}

.HistoryCardContainer.highlighted::before {
  opacity: 1; /* show highlight */
}

/* MOOD HISTORY CARD */
.HistoryCard {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-content: center;
  width: 100%;
}

/* EMOJI */
.HistoryEmoji {
  font-size: 2rem;
  padding-right: 1rem;
}

/* COLORED LABEL BY MOOD CATEGORY */
.HistoryLabel.positive {
  color: var(--color-mood-positive);
}

.HistoryLabel.neutral {
  color: var(--color-mood-neutral);
}

.HistoryLabel.negative {
  color: var(--color-mood-negative);
}

/* TEXT CONTAINER */
.HistoryText {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
}

/* ENTRY TEXT */
.EntryText {
  margin-top: 0.25rem;
}

/* DELETE BUTTON */
.DeleteButton {
  display: flex;
  justify-content: center;
  padding-left: 1rem;
  font-size: 1.5rem;
  opacity: 0; /* initially hidden */
  background: none;
  border: none;
  cursor: pointer;
  color: var(--color-accent);
  transition: opacity 0.2s ease;
}

.HistoryCardContainer:hover .DeleteButton {
  opacity: 1; /* show on hover */
}
