.MoodInsightsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.MoodInsightsContainer span {
  color: var(--color-light-font)
}

body.dark .MoodInsightsContainer span {
  color: var(--color-dark-font)
}
